block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="device-width", initial-scale="1.0")

    title Floema

    meta(name="description" content="Floema beautiful jewellery")

    link(href="main.css" rel="stylesheet")

  body
    include ./partials/preloader
    include ./partials/navigation

    .content#content(data-template=template)
      block content